@use "sass:map";

$utilities: map.merge(
    $utilities,
    (

        "flex-basis": (
            responsive: true,
            property: flex-basis,
            class: flex-basis,
            values: (
                auto: auto,
                0: 0,
                25: 25%,
                33: 33.3%,
                50: 50%,
            )
        ),


        "aspect-ratio": (
            responsive: true,
            property: aspect-ratio,
            values: (
                1x1: #{'1/1'},
                4x3: #{'4/3'},
                16x9: #{'16/9'},
                9x16: #{'9/16'},
            ),
        ),

        "backdrop-filter": (
            property: backdrop-filter,
            responsive: true,
            class: bf,
            values: (
                blur-8px : blur(8px),
                blur-10px : blur(10px),
            )
        ),

        "rounded-top-start": (
            property: border-top-left-radius,
            class: rounded-top-start,
            values: (
                null: var(--#{$prefix}border-radius),
                0: 0,
                1: var(--#{$prefix}border-radius-sm),
                2: var(--#{$prefix}border-radius),
                3: var(--#{$prefix}border-radius-lg),
                4: var(--#{$prefix}border-radius-xl),
                5: var(--#{$prefix}border-radius-xxl),
                circle: 50%,
                pill: var(--#{$prefix}border-radius-pill)
            )
        ),
        "rounded-top-end": (
            property: border-top-right-radius,
            class: rounded-top-end,
            values: (
                null: var(--#{$prefix}border-radius),
                0: 0,
                1: var(--#{$prefix}border-radius-sm),
                2: var(--#{$prefix}border-radius),
                3: var(--#{$prefix}border-radius-lg),
                4: var(--#{$prefix}border-radius-xl),
                5: var(--#{$prefix}border-radius-xxl),
                circle: 50%,
                pill: var(--#{$prefix}border-radius-pill)
            )
        ),

        "rounded-bottom-start": (
            property: border-bottom-left-radius,
            class: rounded-bottom-start,
            values: (
                null: var(--#{$prefix}border-radius),
                0: 0,
                1: var(--#{$prefix}border-radius-sm),
                2: var(--#{$prefix}border-radius),
                3: var(--#{$prefix}border-radius-lg),
                4: var(--#{$prefix}border-radius-xl),
                5: var(--#{$prefix}border-radius-xxl),
                circle: 50%,
                pill: var(--#{$prefix}border-radius-pill)
            )
        ),
        "rounded-bottom-end": (
            property: border-bottom-right-radius,
            class: rounded-bottom-end,
            values: (
                null: var(--#{$prefix}border-radius),
                0: 0,
                1: var(--#{$prefix}border-radius-sm),
                2: var(--#{$prefix}border-radius),
                3: var(--#{$prefix}border-radius-lg),
                4: var(--#{$prefix}border-radius-xl),
                5: var(--#{$prefix}border-radius-xxl),
                circle: 50%,
                pill: var(--#{$prefix}border-radius-pill)
            )
        ),

        "max-width": (
            responsive: true,
            property: max-width,
            class: max-w,
            values: $spacers
        ),
        "max-height": (
            responsive: true,
            property: max-height,
            class: max-h,
            values: $spacers
        ),
        "min-width": (
            responsive: true,
            property: min-width,
            class: min-w,
            values: $spacers
        ),
        "min-height": (
            responsive: true,
            property: min-height,
            class: min-h,
            values: $spacers
        ),
        "width": (
            responsive: true,
            property: width,
            class: w,
            values: (
                25: 25%,
                50: 50%,
                75: 75%,
                100: 100%,
                auto: auto
            )
        ),
        "column-gap": (
            responsive: true,
            property: column-gap,
            class: column-gap,
            values: $spacers
        ),
        "row-gap": (
            responsive: true,
            property: row-gap,
            class: row-gap,
            values: $spacers
        ),
        "font-size": (
            rfs: true,
            property: font-size,
            class: fs,
            values: map.merge($font-sizes, (
                10px : 10px,
                12px : 12px,
                14px : 14px,
                16px : 16px,
                18px : 18px,
                20px : 20px,
                22px : 22px,
                24px : 24px,
                32px : 32px,
            ))
        ),
    )
);
